@model IEnumerable<LoaiDichVu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutStaff.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaDV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaDiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaDV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaDiem.TenDiaDiem)
            </td>
                <td>
                    @if (item.TrangThai == 0)
                    {
                        <span class="badge bg-warning text-dark">⏳ Chờ duyệt</span>
                    }
                    else if (item.TrangThai == 1)
                    {
                        <span class="badge bg-success">✔️ Đã duyệt</span>
                    }
                    else if (item.TrangThai == 2)
                    {
                        <span class="badge bg-danger">❌ Từ chối</span>
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLoaiDV">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaLoaiDV">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLoaiDV">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
