@model IEnumerable<DiaDiem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/CSKH/Views/Shared/_LayoutCSKH.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDiaDiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhPho)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDiaDiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhPho.MaTP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDD">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDD">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDD">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
